{% extends 'base.html.twig' %}


{% block title %}Article{% endblock %}

{% block body %}



{# <div class="title">
<h1>Article</h1>
</div> #}



{% for article in articles  %}
{# {{article.title}} #}
<div class="article text-center">
    <p class="text-center"> {{article.titre}}</p>
    {# <p class="text-center"> {{article.titre}}</p> #}
    <div class="article-image">
        <img src="{{ path('app_article', {'id' : article.id }) }}">
        <div class="contenu">
        <p>{{article.contenu}}</p>
        {# <p>{{article.date}}</p>    #}
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
