{% extends 'base.html.twig' %}


{% block title %}Article{% endblock %}

{% block body %}

  

{% for article in articles  %}
{# {{article.title}} #}
<div class="article text-center">
    <h1 class="text-center"> {{article.titre}}</h1>
    {# <p class="text-center"> {{article.titre}}</p> #}
    <div class="article-image">
        <img src= {{article.getImageArticle}}  alt="">
        <div class="contenu">
        <p>{{article.contenu}}</p>

        </div>
       <div class="comments">
        {{article.getComments}}
        </div>
        
    </div>
</div>
    {% endfor %}

    {# {% for comments in commentss  %}
    <div class="comment">
    <p>{{}}</p>
    </div>
    {% endfor %} #}




{% endblock %}
